{
  "plugins": [
    "transform-es2015-modules-commonjs"
  ],
  "presets": [
    [
      "es2015",
      {
        "modules": false
      }
    ],
    "react"
  ],
  "env": {
    "test": {
      "presets": [
        [
          "es2015"
        ],
        "react"
      ]
    }
  }
}