{
  "parser": "babel-eslint",
  "env": {
    "node": true
  },
  "globals": {
    "jest": true,
    "expect": true,
    "describe": true,
    "it": true,
    "beforeEach": true
  },
  "plugins": [],
  "extends": "airbnb",
  "settings": {
    "import/resolver": {
      "node": {
        "extensions": [".js"]
      }
    }
  },
  "rules": {
    "import/prefer-default-export": "off",
    "react/jsx-filename-extension": [1, { "extensions": [".js"] }],
    "no-mixed-operators": "off",
    "react/no-typos": "off",
    "no-prototype-builtins": "off"
  }
}
